@model List<ProductCategoryViewModel>
@inject IViewLocalizer localizer

<div class="mtmegamenu">
    <ul class="hidden-xs">
        <li class="mt-root demo_custom_link_cms">
            <div class="mt-root-item">
                <a href="/">
                    <div class="title title_font"><span class="title-text">@localizer["Home"]</span></div>
                </a>
            </div>

        </li>

        <li class="mt-root demo_custom_link_cms">
            <div class="mt-root-item">
                <a href="/page/introduction.html">
                    <div class="title title_font"><span class="title-text">@localizer["About"]</span></div>
                </a>
            </div>

        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="/products.html">
                    <div class="title title_font"><span class="title-text">@localizer["Products"]</span></div>
                </a>
            </div>
            <ul class="menu-items col-xs-12">
                @foreach (var item in Model.Where(c => c.ParentId == null))
                {
                    <li class="menu-item depth-1 menucol-1-3 ">
                        <div class="title title_font"> <a href="/@item.SeoAlias-c.@(item.Id).html">@item.Name</a></div>
                        <ul class="submenu">
                            @foreach (var subItem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li class="menu-item">
                                    <div class="title"> <a href="/@subItem.SeoAlias-c.@(subItem.Id).html">@subItem.Name</a></div>
                                </li>
                            }

                        </ul>
                    </li>
                }

            </ul>
        </li>

        <li class="mt-root demo_custom_link_cms">
            <div class="mt-root-item">
                <a href="/page/blog.html">
                    <div class="title title_font"><span class="title-text">@localizer["Blog"]</span></div>
                </a>
            </div>
        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <div class="title title_font"><span class="title-text">@localizer["BestSeller"]</span></div>
            </div>
            <ul class="menu-items col-xs-12">
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                        <div class="item-inner">
                            <div class="product-thumbnail">
                                <div class="icon-sale-label sale-left">Sale</div>
                                <div class="pr-img-area">
                                    <a title="Product title here" href="/page/mseries.html">
                                        <figure> <img class="first-img" src="/client-side/images/products/product-1.jpg" alt="html theme"> <img class="hover-img" src="/client-side/images/products/product-2jpg.png" alt="html Template"></figure>
                                    </a>
                                </div>
                                <div class="pr-info-area">
                                    <div class="pr-button">
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="Product title here" href="/page/mseries.html">M Series </a> </div>
                                    <div class="item-content">
                                        <div class="item-price">
                                        </div>
                                        <div class="pro-action">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                        <div class="item-inner">
                            <div class="product-thumbnail">
                                <div class="icon-sale-label sale-left">Sale</div>
                                <div class="pr-img-area">
                                    <a title="Product title here" href="single_product.html">
                                        <figure> <img class="first-img" src="/client-side/images/products/product-1.jpg" alt="html Template"> <img class="hover-img" src="/client-side/images/products/5dee652ed090e05989b6ea8d_large.png" alt="html Template"></figure>
                                    </a>
                                </div>
                                <div class="pr-info-area">
                                 
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="Product title here" href="pseries.html">P Series </a> </div>
                                    <div class="item-content">
                                        <div class="item-price">
                                        </div>
                                        <div class="pro-action">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                    <div class="product-item">
                        <div class="item-inner">
                            <div class="icon-sale-label sale-left">Sale</div>
                            <div class="icon-new-label new-right">New</div>
                            <div class="product-thumbnail">
                                <div class="icon-sale-label sale-left">Sale</div>
                                <div class="pr-img-area">
                                    <a title="Product title here" href="mseriest.html">
                                        <figure> <img class="first-img" src="/client-side/images/products/5dee616bd090e05989b6e9a5_large.png" alt="html Template"> <img class="hover-img" src="/client-side/images/products/product-1.jpg" alt="html Template"></figure>
                                    </a>
                                </div>
                                <div class="pr-info-area">
                                   
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="info-inner">
                                    <div class="item-title"> <a title="Product title here" href="sseries.html">S Series </a> </div>
                                    <div class="item-content">
                                        <div class="item-price">
                                        </div>
                                        <div class="pro-action">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="/contact.html">@localizer["Contact"]</a></li>
    </ul>
</div>